<h3>予定一覧</h3>
<!--えらーを日本語にする-->
<!--終日の○表記-->
<% if flash[:notice] %>
   <p class="notice"><%= flash[:notice] %></p>
 <% end %>
<h4>本日の日付 <%= Date.current.strftime('%Y年 %m月 %d日')%></h4>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>終日</th>
      <th>更新日時</th>
      
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.title %></td>
        <td><%= user.start_date.to_s(:yeardate) %></td>
        <td><%= user.end_date.to_s(:yeardate) %></td>
        <td>
        <% if user.allday == "true" %>
        ○
        <% else user.allday == "false" %>
        
        <% end %>
        </td>
        <td><%= user.updated_at.to_s(:datetime_jp) %></td>
        <td><%= link_to "参照", user %></td>
        <td><%= link_to "編集",[:edit,user]%></td>
        <td>
          <%= link_to "削除", user, method: :delete, data: { confirm: "本当に削除しますか？" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

  
<button><%= link_to "ユーザー新規登録", :new_user %></button></a>

<p>予定合数 　<span><%= @users.ids.count %></span>件</p>
 